@page
@model At_Net_Q4.Pages.Usuarios.IndexModel
@{
    ViewData["Title"] = "Cadastrar Usuário";
}

<h2>@ViewData["Title"]</h2>
<p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuário</th>
                <th>E-mail</th>
                <th>Data de Nascimento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model.Usuarios)
            {
                <tr>
                    <td> 
                    <a asp-page ="/Usuarios/Detalhes" asp-route-id="@usuario.Id">@usuario.Id</a>
                        </td>
                        <td>@usuario.Id</td>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.DataNascimento.ToString("dd/MM/yyyy")</td>
                        <td>
                         <a class="btn btn-outline-info" asp-page="/Usuarios/Detalhes" asp-route-id="@usuario.Id">Detalhar</a>
                            </td>
                            <td>
                   <a class="btn btn-outline-warning" asp-page="/Usuarios/Editar" asp-route-id="@usuario.Id">Editar</a>
                           </td> 
                            <td>
                    <a class="btn btn-outline-warning" asp-page="/Usuarios/Criar" asp-route-id="@usuario.Id">Incluir</a>
                            </td> 
                    </tr>
            }
        </tbody>
    </table>
</p>


